<div class="container">
<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>
<br /><br />

  <ul>
    <% @questions.each do |question| %>
        <h4>"<%= question.question %>"</h4>

        <h4>Asked by <%= question.user.username unless question.user.nil? %> </h4>
        <li><%= link_to 'Show', question_path(question) %> | <%= link_to 'Edit', edit_question_path(question) %> | <%= link_to 'Destroy', question_path(question), method: :delete, data: { confirm: 'Are you sure?' } %></li>

        <% question.answers.each do |answer| %>
          <li>"<%= answer.answer %>"</li>
        <% end %>
        <hr>
    <% end %>
  </ul>

  <br /><br />
  <%= link_to 'Add a new Question', new_question_path %>
</div>
