<!DOCTYPE html>
<html>
<head>
  <title>OverflowClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:success] %>
  <div class="alert alert-success">
    <strong><%= flash[:success]%></strong>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="alert lert-danger">
    <strong><%= flash[:error]%></strong>
  </div>
<% end %>
<%= yield %>

</body>
</html>
